# tested with python 3.11.11
numpy==1.26.4
pillow==11.1.0
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu124

cuda-python==12.4.0

huggingface-hub==0.28.1
transformers==4.48.2
timm==1.0.14

lightning==2.5.1
mlflow==2.20.4
torchmetrics==1.6.1
tensorboard==2.18.0

matplotlib==3.10.0
opencv-python==4.11.0.86
kornia==0.8.0

jupyter==1.1.1
iopath==0.1.10
json-tricks==3.17.3
h5py==3.12.1
boto3==1.36.15
tabulate==0.9.0

pycocotools==2.0.8
xtcocotools==1.14.3
pycocoevalcap==1.2

xformers==0.0.29 --index-url https://download.pytorch.org/whl/cu124

nvidia-ml-py

deepspeed==0.16.3
tensorrt==10.8.0.43

compressai==1.2.6
natten==0.17.5+torch250cu124 -f https://shi-labs.com/natten/wheels/


# after installing requirements, run the following command to download coco evaluation scripts:
# pip install git+https://github.com/bckim92/language-evaluation.git
# python -c "import language_evaluation; language_evaluation.download('coco')"


################################
# --index-url https://download.pytorch.org/whl/cu124
# mmcv==2.2.0 -f https://download.openmmlab.com/mmcv/dist/cu121/torch2.4/index.html
